* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #052d45;
    margin-bottom: 50px;
    font-family: Helvetica;
}

h2 {
    color: rgba(255, 255, 255, 0.95);
    font-size: 35px;
    font-weight: 100;
    margin-left: -2px;
}

p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: -1px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#about {
    width: 400px;
    padding: 50px 0 0 30px;
    margin: 0 auto 0 50px !important;
}

#about a:hover {
    text-decoration: none;
    color: #19a0d8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-shadow: none;
}

#selectLanguageDropdown {
    width: 125px;
    margin: 0;
    position: fixed;
    right: 50px;
    top: 50px;
}

.photo {
    display: none;
}

.tinylinks {
    display: none;
}

.icon {
    background-image: url(icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.facebook {
    background-position: -63px -1px;
}

.facebook:hover {
    background-position: -1px -1px;
}

.github {
    background-position: -187px -1px;
}

.github:hover {
    background-position: -125px -1px;
}

.instagram {
    background-position: -311px -1px;
}

.instagram:hover {
    background-position: -249px -1px;
}

.lastfm {
    background-position: -435px -1px;
}

.lastfm:hover {
    background-position: -373px -1px;
}

.linkedin {
    background-position: -559px -1px;
}

.linkedin:hover {
    background-position: -497px -1px;
}

ul#icons {
    width: 400px;
    margin: 0 auto 0 70px !important;
}

#icons li {
    display: inline-block;
    list-style-type: none;
    padding: 0 0 0 10px;
}

#icons a {
    text-decoration: none;
    border-style: none;
    opacity: 0.8;
}

#icons a:hover {
    text-decoration: none;
    border-style: none;
    opacity: 0.9;
}

@media (max-width: 767px) {
    body {
        background-color: #052d45;
    }

    p {
        color: #fff;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #006e9c
    }

    h2 {
        color: #fff;
    }

    img {
        max-width: 100%;
    }

    .photo {
        padding-top: 42px;
        display: inherit;
        margin: -20px -20px 20px -20px !important;
    }

    #about {
        position: relative;
        width: auto;
        padding: 20px;
        margin: 0 !important;
    }

    #selectLanguageDropdown {
        width: 100%;
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        font-weight: 600;
    }

    .backstretch {
        opacity: 0.2;
    }

    ul#icons {
        display: none;
    }

    .tinylinks {
        display: inherit;
    }
}